<section class= "category-div">
<%= image_tag category.icon, class:'icon'%>
<div class= "details">
<span class= "category-top">
<h2 class= "category_name"> <%= category.name %></h2>
<span class= "category_total"> <%= number_to_currency(category.total_amount)%></span>
</span>

 <span class="category-bottom ">
      <time data="<%= category.created_at %>"><%= category.created_at.strftime("%e %B %Y") %></time>
      <% if can? :destroy, category %>
          <% if request.path != '/' %>
            <%= button_to 'Delete ', category_url(id: category.id), method: :delete,  data: {turbo: false}, class: 'btn' %>
          <%end%>
        <% else %>
        <span></span>
      <% end %>
    </span>
</div>
</section>
